{% extends "personas_registro.html" %}
{% block titulo %}Registrar empleado{% endblock %}
{% block persona %}empleado{% endblock %}

{% block extra %}
<!-- REGISTRO DE EMPLEADOS -->

<h5 class="mx-auto mb-4">3. Datos de contratación</h5>

<div class="row ">

    <div class="col-md-3 mb-3">
        <label for="rfc">RFC</label>
        <input type="text" class="form-control" id="rfc" name="rfc" placeholder="" value="" maxlength="12" required>

        <div class="invalid-feedback">
            Ingrese un RFC válido.
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="fechain">Inicio de contrato</label>
        <input type="date" class="form-control" id="fechain" name="fechain" placeholder="Fecha de inicio" value="" required>

        <div class="invalid-feedback">
            Ingrese una fecha válida.
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="fechafin">Fin de contrato</label>
        <input type="date" class="form-control" id="fechafin" name="fechafin" placeholder="Fecha de fin" value="" required>

        <div class="invalid-feedback">
            Ingrese una fecha válida.
        </div>
    </div>

    <div class="col-md-3 mb-3">
        <label for="puesto">Puesto</label>
        <select class="custom-select d-block w-100" id="puesto" name="puesto" required>
            <option value="">Elija...</option>
            <option value="Administrador">Administrador</option>
            <option value="Docente">Docente</option>
            <option value="Limpieza">Limpieza</option>
            <option value="Velador">Velador</option>
            <option value="Director">Director</option>
        </select>

        <div class="invalid-feedback">
            Elija una opción.
        </div>
    </div>

</div>

<h5 class="mx-auto mb-4">4. Datos de pago</h5>

<div class="row ">

    <div class="col-md-6 mb-3">
        <label for="monto">Monto</label>
        <input type="number" class="form-control" id="monto" name="monto" placeholder="" value="" min="1" required>

        <div class="invalid-feedback">
            Ingrese una cantidad válida.
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <label for="modo">Modo de pago</label>
        <select class="custom-select d-block w-100" id="modo" name="modo" required>
            <option value="">Elija...</option>
            <option value="Hora">Hora</option>
            <option value="Turno">Turno</option>
        </select>

        <div class="invalid-feedback">
            Elija una opción.
        </div>
    </div>

</div>

<h5 class="mx-auto mb-4">5. Horario</h5>

<div class="d-block my-3">
    <div class="custom-control custom-radio">
        <input id="fijo" name="horario" type="radio" class="custom-control-input" checked="" required="" value="Fijo">
        <label class="custom-control-label" for="fijo">Fijo</label>
    </div>

    <div class="custom-control custom-radio">
        <input id="personalizado" name="horario" type="radio" class="custom-control-input"  required="" value="Personalizado">
        <label class="custom-control-label" for="personalizado">Personalizado</label>
    </div>
</div>

<div class="row col-md-12 mt-3">
    <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="lunes" name="dia" value="Lunes" checked>
        <label class="custom-control-label" for="lunes">Lunes</label>
    </div>
    <div class="custom-control custom-checkbox ml-3">
        <input type="checkbox" class="custom-control-input" id="martes" name="dia" value="Martes" checked>
        <label class="custom-control-label" for="martes">Martes</label>
    </div>
    <div class="custom-control custom-checkbox ml-3">
        <input type="checkbox" class="custom-control-input" id="miercoles" name="dia" value="Miercoles" checked>
        <label class="custom-control-label" for="miercoles">Miercoles</label>
    </div>      
    <div class="custom-control custom-checkbox ml-3">
        <input type="checkbox" class="custom-control-input" id="jueves" name="dia" value="Jueves" checked>
        <label class="custom-control-label" for="jueves">Jueves</label>
    </div>
    <div class="custom-control custom-checkbox ml-3">
        <input type="checkbox" class="custom-control-input" id="viernes" name="dia" value="Viernes" checked>
        <label class="custom-control-label" for="viernes">Viernes</label>
    </div>
    <div class="custom-control custom-checkbox ml-3">
        <input type="checkbox" class="custom-control-input" id="sabado" name="dia" value="Sabado">
        <label class="custom-control-label" for="sabado">Sabado</label>
    </div>   
    <div class="custom-control custom-checkbox ml-3">
        <input type="checkbox" class="custom-control-input" id="domingo" name="dia" value="Domingo">
        <label class="custom-control-label" for="domingo">Domingo</label>
    </div>               

</div>

<div id="data">
    <div class="row">
        <div class="col-md-3 mb-3 mt-3">
            <label for="hinicio">Hora Inicio</label>
            <input type="time" class="form-control hi" id="hinicio" name="hinicio" placeholder="" value="" required>
    
            <div class="invalid-feedback">
                Ingrese la hora de inicio.
            </div>
        </div>

        <div class="col-md-3 mb-3 mt-3">
            <label for="hfinal">Hora Final</label>
            <input type="time" class="form-control hs" id="hfinal" name="hfinal" placeholder="" value="" required>
    
            <div class="invalid-feedback">
                Ingrese la hora de fin.
            </div>
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename='js/scripts/empleados_registro.js') }}"></script>

{% endblock %}