{% extends "menu_responsive.html" %}
{% block titulo %}Registrar grupo{% endblock %}

{% block css %}

<style>
    .form-control, .custom-select {
        background-color: #ededed;
    }

    .botones {
        background-color: #1DE9B6;
        font-size: medium;
    }
</style>

{% endblock %}

{% block contenido %}
<!-- REGISTRO DE GRUPOS -->

<div class="forma py-3 px-5 mt-3 border border-dark wrapper flex-grow-1">

    <h3 class="mx-auto mb-4">Registrar grupo</h3>

    <form class="needs-validation"  action="" method="POST">
        <div class="row ">

            <div class="col-md-3 mb-3">
                <label for="actividad">Actividad</label>
                <select class="custom-select d-block w-100" id="actividad" name="actividad" required>
                    <option value="">Elige...</option>
                    <!-- <option value="Deportiva">Deportiva</option> -->
                    {% for i in actividades %}
                        <option value="{{ i[0] }}">{{ i[1] }}</option>
                    {% endfor %}
                </select>
        
                <div class="invalid-feedback">
                    Elija una opción.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="area">Área</label>
                <select class="custom-select d-block w-100" id="area" name="area" required>
                    <option value="">Elige...</option>
                    <!-- <option value="Deportiva">Deportiva</option> -->
                    {% for i in areas %}
                        <option value="{{ i[0] }}">{{ i[1] }}</option>
                    {% endfor %}
                </select>
        
                <div class="invalid-feedback">
                    Elija una opción.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="minalumnos">Número mín. de alumnos</label>
                <input type="number" class="form-control" id="minalumnos" name="minalumnos" placeholder="" value="" required>
        
                <div class="invalid-feedback">
                    Ingrese una cantidad válida.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="maxalumnos">Número max. de alumnos</label>
                <input type="number" class="form-control" id="maxalumnos" name="maxalumnos" placeholder="" value="" required>
        
                <div class="invalid-feedback">
                    Ingrese una cantidad válida.
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-3 mb-3">
                <label for="horaent">Hora de entrada</label>
                <input type="time" class="form-control" id="horaent" name="horaent" placeholder="Hora de entrada" value="" required autofocus>
        
                <div class="invalid-feedback">
                    Ingrese una hora válida.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="horasali">Hora de salida</label>
                <input type="time" class="form-control" id="horasali" name="horasali" placeholder="Hora de salida" value="" required>
        
                <div class="invalid-feedback">
                    Ingrese una hora válida.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="fechaini">Fecha inicial</label>
                <input type="date" class="form-control" id="fechaini" name="fechaini" placeholder="" value="" required>
        
                <div class="invalid-feedback">
                    Ingrese una fecha válida.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <label for="fechafin">Fecha de fin</label>
                <input type="date" class="form-control" id="fechafin" name="fechafin" placeholder="" value="" required>
        
                <div class="invalid-feedback">
                    Ingrese una fecha válida.
                </div>
            </div>

        </div>

        <div class="row">

            <div class="col-md-9 mb-3">
                <!-- <label for="empleado">Docente</label> -->
                <select class="custom-select d-block w-100" id="empleado" name="empleado" required>
                    <option value="">Docente...</option>
                    <!-- <option value="Deportiva">Deportiva</option> -->
                    {% for i in empleados %}
                        <option value="{{ i[0] }}">{{ i[1] }}</option>
                    {% endfor %}
                    <option value="">Saul Andre Aguilar Gutierrez</option>
                </select>
        
                <div class="invalid-feedback">
                    Elija una opción.
                </div>
            </div>

            <div class="col-md-3 mb-3">
                <button type="button" class="btn btn-primary w-100" name="buscar" id="buscar">Buscar docente</button>
            </div>


            <!-- <button class="btn btn-primary">Buscar docente</button> -->
        </div>

        <!-- TODO: HACER ESTO RESPONSIVO, MEJORARLO -->
        <div class="d-flex align-items-end flex-column mb-3" style="height: 190px;">
            <div class="mt-auto bd-highlight">
                <button type="submit" class="botones btn btn-lg mr-2 rounded-pill px-5" id="_btAceptar">Siguiente</button>
                <button type="" class="botones btn btn-lg mr-2 rounded-pill px-5" id="_btCancelar">Cancelar</button>
            </div>
        </div>

    </form>
</div>

<script src="{{ url_for('static', filename='js/scripts/grupos_registro.js') }}"></script>

{% endblock %}