<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>San Patricio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Login.css') }}">
</head>
<body>
    <div class="content">
        <div class="content-left">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logotipo">
            <div class="description">
                <h1>San Patricio</h1> <br>
                <p>Lorem ipsum dolor sit 
                amet consectetur adipisicing elit. Culpa.</p>
            </div>
        </div>
        <div class="content-right">
            <h2 id="Login">Login</h2>
            <div class="login">
                <p>Username</p>
                <input type="text" placeholder="Enter your username" id="username">
                <p>Password</p>
                <input type="password" placeholder="Enter your password"> <br>
                <!-- <a href="#" id="hyperlink">Forgot your password?</a> <br> -->
                <a href="#" id="hyperlink">Forgot your password?</a> <br>
                <button id="buttom">  <a href="{{ url_for('cargar_menu') }}">Login</a> </button>
            </div>
        </div>
    </div>
</body>
</html>