{% extends "menu_responsive.html" %}
{% block titulo %}Solicitudes{% endblock %}

{% block css %}

<style>
    .form-control, .custom-select {
        background-color: #ededed;
    }

    .botones {
        background-color: #1DE9B6;
        font-size: medium;
    }

    #boton:focus {
        box-shadow: none;
    }

    .btnEditar {
        background-color: #1DE9B6;
        color: white;
    }

    .toast {
        z-index: 10;
    }
</style>

<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-table/bootstrap-table.min.css') }}">

{% endblock %}

{% block contenido %}

<!-- TOAST -->
<!-- <div class="toast" id="toastFolio" role="alert" aria-live="assertive" aria-atomic="true" style="position: absolute; bottom: 1rem; left: 1rem;" data-delay="5000">
    <div class="toast-header">
        <strong class="mr-auto">Folio</strong>
        <small>Hace un momento</small>
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        El folio se ha generado con éxito.
    </div>
</div> -->
<!-- - TOAST - -->

<div class="wrapper flex-grow-1"> 

    <div class="mx-4">

        <div class="row p-0 m-0 h-100">
        
            <div class="col-md-3 border-right border-dark">
        
                <div class="row justify-content-between pr-4">
                    <h4>Solicitudes</h4>
                    <!-- <button class="btn btn-primary">
                        <span data-feather="user-plus" class="mr-2"></span>
                        Nuevo
                    </button> -->

                    <a href="/solicitudes/solicitar" class="btn btn-primary">
                        <span data-feather="plus" class="mr-2"></span>
                        Nueva
                    </a>
                </div>
                
                <div class="row">
                    <!-- <input type="text">Buscar -->
                
                    <ul class="list-group-flush p-0 w-100 pr-5 pt-3" id="listaSolicitudes">
                        <li class="list-group-item py-2 px-0">
                
                            <button class="btn text-primary p-0 w-100 d-flex justify-content-between" type="button" id="boton" data-toggle="collapse" data-target="#collapseSolicitudes" aria-expanded="false" aria-controls="collapseSolicitudes">
                                <div>
                                    <span data-feather="chevron-right"></span>
                                    Todas
                                </div>

                                <div>
                                    <span class="badge badge-primary badge-pill" id="">{{ solicitudes|length }}</span>
                                </div>  
                            </button>
                            
                            {% if solicitudes|length > 0 %}
                                <div class="collapse" id="collapseSolicitudes">
                                    <div class="card card-body border-0">
                                        <ul class="list-group-flush p-0">
                                            {% for i in solicitudes %}
                                                <li class="list-group-item p-0">
                                                    <span data-feather="user"></span>
                                                    <button class="btn text-secondary p-0 btnMostrar" type="button" value="{{ i[0] }}">{{ i[1] }}</button>
                                                </li>
                                            {% endfor %}
                                            <!-- <li class="list-group-item p-0">
                                                <span data-feather="user"></span>
                                                <button class="btn text-secondary p-0" type="button">Aguilar Gutierrez Saul Andre </button>
                                            </li> -->
                                        </ul>
                                    </div>
                                </div>
                            {% endif %}
                        
                        </li>

                    </ul>
                
                </div>       
        
            </div>
        
            <!-- SECCION DE DATOS -->
            <div class="col-md-9" id="datos" hidden>
                
                <div class="row border-bottom border-dark p-3">
                    <div class="col-md-12 d-flex justify-content-around">
                        <button class="btn btnSeccion" value="datosGenerales">Detalles</button>
                        <button class="btn btnSeccion" value="datosAcademicos" id="btnDatosAcademicos" hidden>Datos académicos</button>
                        <button class="btn btnSeccion" value="datosInscripcion">Inscripción</button>
                        <!-- <button class="btn btnSeccion" value="datosActividades" id="_datosActividades" hidden>Actividades</button>
                        <button class="btn btnSeccion" value="datosGrupos" id="_datosGrupos" hidden>Grupos</button> -->
                        <!-- <button class="btn btnSeccion">Horarios</button> -->
                    </div>
                </div>

                <div class="row mt-4">

                    <div class="col-md-4">
          
                        <div class="container">
                            <div class="row text-center">
                                <div class="col-md-12">
                                    <!-- IMAGEN -->
                                    <img src="{{ url_for('static', filename='images/person.jpg') }}" alt="Persona" height="100" width="100">
                                </div>
                            </div>

                            <div class="row text-center">
                                <div class="col-md-12">
                                    <h5 id="nombre"></h5>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!-- SECCION DE DATOS PERSONALES -->
                    <div class="col-md-8" id="datosGenerales" hidden>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">CURP</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="curp"></h5></div></div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Domicilio</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="domicilio"></h5></div></div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Fecha de nacimiento</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12"> 
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="fnac"></h5></div></div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Sexo</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="sexo"></h5></div></div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Teléfono</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="tel"></h5></div></div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Estatura</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="estatura"></h5></div></div>
                                </div>
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Peso</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="peso"></h5></div></div>
                                </div>
                            </div>

                        </div>

                    </div>

                    <!-- SECCION DE DATOS ACADEMICOS -->
                    <div class="col-md-8" id="datosAcademicos" hidden>

                        <div class="container">

                            <div class="row">
                                <div class="col-md-12">



                                    <!-- <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Grupo</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div> -->
                                </div>
                                
                                <!-- <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="fechain"></h5></div></div>
                                </div> -->
                            </div>

                            <!-- <hr>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Fecha final de contrato</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="fechafin"></h5></div></div>
                                </div>
                            </div> -->

                        </div>

                    </div>

                    <!-- SECCION DE INSCRIPCION -->
                    <div class="col-md-8" id="datosInscripcion" hidden>

                        <div class="container" id="contenidoInscripcion">

                            <!-- <div class="row"> -->
                                <!-- <div class="col-md-12">
                                    <button class="btn btn-primary" id="btnClickme">Click me</button>

                                </div> -->


                                <!-- <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">RFC</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="rfc"></h5></div></div>
                                </div> -->
                            <!-- </div> -->

                            <!-- <hr> -->

                            <!-- <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12 d-flex justify-content-between">
                                            <h5 class="font-weight-bold">Puesto</h5><button class="btnEditar btn rounded-pill font-weight-bold px-3" id="">Editar</button>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="col-md-12">
                                    <div class="row pt-2"><div class="col-md-12"><h5 class="text-muted" id="puestoL"></h5></div></div>
                                </div>
                            </div> -->

                        </div>

                    </div>

                </div>

            </div>
        
        </div>

    </div>

</div>

<script src="{{ url_for('static', filename='js/feather.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/scripts/nominas.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap-table/bootstrap-table.min.js') }}"></script> 
<script src="{{ url_for('static', filename='js/bootstrap-table/bootstrap-table-es-MX.min.js') }}"></script> 

<script>
    feather.replace()
</script>

{% endblock %}