/* Show it is fixed to the top */
body {
    /* min-height: 75rem; */
    padding-top: 4.5rem;
    color: #000;
}

.cabecera {
    background: #1DE9B6;
}

.forma {
    margin: auto;
    width: 90%;
}

.notificacion, .foto-perfil {
    width: 40px;
    height: 40px;
}

.foto-perfil {
    border-radius: 50%;
}

.boton {
    /* display: inline-block; */
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    /* width: 50%;
    height: 50%; */
}